<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/tables.css" />
    <style>
        body {
            background-image: url("https://www.liveabout.com/thmb/hpWK3bPxhXyuC_VGNSwuZ3ugmu8=/1383x900/filters:no_upscale():max_bytes(150000):strip_icc()/pokemonfacts-01-mew-56d3cfe73df78cfb37d4c528.jpg");
        }
    </style>
</head>

<body>


<div id="wrap" class="container">
<h2>Available Tokimon</h2>

<table>
        <tr>
            <th>Name</th>
            <th>Fire</th>
            <th>Water</th>
            <th>Electric</th>
            <th>Fly</th>
            <th>Fight</th>
            <th>Ice</th>
            <th>HP</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Speed</th>
            <th>Total</th>
            <th>Move 1</th>
            <th>Move 2</th>
            <th>Move 3</th>
            <th>Move 4</th>
            <th>See Info</th>
            <th>Add to Team</th>
        <!-- </tr>
        <% for (var j=0; j<rows.length; j++) {%>
            <tr>
                <td><%= rows[j].name %></td>
                <td><%= rows[j].fire %></td>
                <td><%= rows[j].water %></td>
                <td><%= rows[j].electric %></td>
                <td><%= rows[j].fly %></td>
                <td><%= rows[j].fight %></td>
                <td><%= rows[j].ice %></td>
                <td><%= rows[j].attack %></td>
                <td><%= rows[j].defense %></td>
                <td><%= rows[j].speed %></td>
                <td><%= parseFloat(rows[j].fire) + parseFloat(rows[j].water) + parseFloat(rows[j].electric) + parseFloat(rows[j].fly) 
                + parseFloat(rows[j].fight) + parseFloat(rows[j].ice) + parseFloat(rows[j].hp) + parseFloat(rows[j].attack) + parseFloat(rows[j].defense) + parseFloat(rows[j].speed)%></td>
                <td> <a href='/move1/<%=rows[j].id%>'>INFO</a></td>
                <td> <a href='/move2/<%=rows[j].id%>'>INFO</a></td>
                <td> <a href='/move3/<%=rows[j].id%>'>INFO</a></td>
                <td> <a href='/move4/<%=rows[j].id%>'>INFO</a></td>
                <td> <a href='/info/<%=rows[j].id%>'>INFO</a></td>
                <td> <a href='/addToTeam/<%=rows[j].id%>'>Add</a></td>
            </tr>
        <%}; %> -->
</table>
</div>
<button id="home"><a href="../">Homepage</a></button>
</body>
</html>
