<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimons</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css" />
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id="listPageBackgroundImage">
      <a href="https://sheltered-thicket-38577.herokuapp.com">Home</a>
      <p class="pageContent">Tokimons are rare. This is the list of Tokimons found so far. Each Tokimon has a unique ID which can be used to distinguish those with similar characteristics.</p>
      <div class="greyPart">
        <table class="actualTable">
          <thead>
            <tr>
              <th class="actualTh">
                Tokimon Name
              </th>
              <th class="actualTh">
                Fire
               </th>
               <th class="actualTh">
                Water
               </th>
               <th class="actualTh">
                Electric
               </th>
               <th class="actualTh">
                Fly
               </th>
               <th class="actualTh">
                Fight
               </th>
               <th class="actualTh">
                Ice
               </th>
               <th class="actualTh">
                Hit Points
               </th>
               <th class="actualTh">
                Attack
               </th>
               <th class="actualTh">
                Defense
               </th>
               <th class="actualTh">
                Speed
               </th>
               <th class="actualTh">
                Move 1
               </th>
               <th class="actualTh">
                Move 2
               </th>
               <th class="actualTh">
                Move 3
               </th>
               <th class="actualTh">
                Move 4
               </th>
               <th class="actualTh">
                See Info
               </th>
               <th  class="actualTh"> 
                Add to Team
               </th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach((r) => { %>
              <tr>
                <td class="actualTd">
                    <%= r.name %>
                </td>
                <td class="actualTd">
                    <%= r.Fire %>
                </td>
                <td class="actualTd">
                    <%= r.Water %>
                </td>
                <td class="actualTd">
                    <%= r.Electric %>
                </td>
                <td class="actualTd">
                    <%= r.Flying %>
                </td>
                <td class="actualTd">
                    <%= r.Fighting %>
                </td>
                <td class="actualTd">
                    <%= r.Ice %>
                </td>
                <td class="actualTd">
                    <%= r.HP %>
                </td>
                <td class="actualTd">
                    <%= r.attack %>
                </td>
                <td class="actualTd">
                    <%= r.defense %>
                </td>
                <td class="actualTd">
                    <%= r.Speed %>
                </td>
                <td class="actualTd">
                    <%= r.move1 %>
                </td>
                <td class="actualTd">
                    <%= r.move2 %>
                </td>
                <td class="actualTd">
                    <%= r.move3 %>
                </td>
                <td class="actualTd">
                    <%= r.move4 %>
                </td>
                <td class="actualTd">
                    <form action="/moreinfo" method="POST">
                      <input class="ToBeHidden" type="text" name="tokiID" id="tokiID" value=<%= r.id %>>
                      <input type="submit" value="More Info">
                    </form><br>
                </td>
                <td class="actualTd">
                  <form action="/addToTeam" method="POST">  <!--create add to team POST method which will return to the same page such that the added Tokimon is not shown -->
                    <input class="ToBeHidden" type="text" name="tokiID" id="tokiID" value=<%= r.id %>>
                    <input type="submit" value="Add to Team">
                  </form><br>
              </td>
              </tr> 
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
